<ion-view>
	<ion-content>
	<b>Adapter being used</b><br />
	{{adapter}}
	<br />
	<br />
	<b>Database Information</b><br />
	{{dbinfo}}
	<br />
	<br />
	<b>on('error') info text:</b> <br />
	{{errorlog}}
	<br />
	<br />
	<b>List Loaded From CouchDB:</b> <br />
		<ion-list>
			<div ng-repeat="name in colleges">
				{{name}}
			</div>
		</ion-list>
	</ion-content>
</ion-view>