<ion-view title="{{menuDisplayManager.getCurrentCollege() | capitalize}} College Menu">
  <ion-content class="center" delegate-handle="calendar">
   <loadingspinner class="ng-hide"></loadingspinner>
  <ion-list>
      <div ng-repeat="menu in menuDisplayManager.getCurrentMenu()">
        <chart></chart>
      </div>
  </ion-content>
</ion-view>
