<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center" class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" id="leftSideMenuButton" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar align-title="center" class="bar">
      <h1 class="title">Select Your College</h1>
    </ion-header-bar>
    <ion-content>
    <ion-list>
     <ion-item collection-repeat="college in colleges"
        class="item row-no-padding" style="padding:5px;" ng-click="loadCollege(college.college)">
          <img ng-src="img/{{college.college}}_crest.png" style="vertical-align:middle;" width="10%">
          <span style="padding-left:5px;">{{college.college | capitalize}}</span>
      </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>