/* Empty. Add your own CSS if you like */
.reduce-padding {
	padding: 0px !important;
}
.elementCenterAlign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.vertical-align {
	vertical-align:middle !important;
	padding-bottom:3px;
}
